main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.server-status-display {
    display: flex;
    justify-content: center;
}

.server-actions-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

